@model Dictionary<string, string>

@{
    ViewBag.Title = "Home Page";
}
<div class="planList">
    <h1>Select plan:</h1>
    <hr />
    <ul>
        @foreach (KeyValuePair<string, string> item in Model)
        {
            <li>
                @Html.ActionLink(item.Value, "Plan", "Home", new { id = item.Key }, null)
            </li>
        }
    </ul>
</div>