@model Alarmee.Web.Models.PlanDetailModel

@{
    ViewBag.Title = "Alarmee - " + Model.Name;
    ViewData["Name"] = Model.Name;
    ViewData["Id"] = Model.Id;
}

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<div id="PlanDetail">
    @{Html.RenderPartial("PlanDetailPartialView", Model);}
</div>

<script>
    $(document).ready(function () {
        window.setInterval(function () {
            $.ajax({
                type: "GET",
                url: "/Home/GetPlan/@Model.Id",
                dataType: "html",
                contentType: "application/json; charset=utf-8"
            }).done(function (partialViewResult) {
                
                $("#PlanDetail").html(partialViewResult);
            }).fail(function (xhr, status, error) {
                console.log("Status: " + status + " Error: " + error);
                console.log(xhr);
            });
        }, 1000);
    });
</script>